.cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: yellowgreen;
  text-align: center;
  max-height: fit-content;
  position: relative;
  width: 300px;
  margin: 30px;
  box-shadow: 0px 20px 60px -6px black;
}

.card-title {
  height: 20px;
}
.card img {
  margin: auto;
  max-width: 300px;
  height: 175px;
  object-fit: cover;
  display: block;
  position: relative;
}

.card-desc {
  background-color: blanchedalmond;
  height: 80px;
  text-align: center;
  font-size: 1rem;
  position: relative;
  opacity: 1;
  padding: 10px;
}
.detailbtn {
  cursor: pointer;
  padding: 5px;
}
