.box{
  text-align: center;
  display: block;
  margin: auto;
}
.box .image{
      width: auto;
  }
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;}

.container .items{
  text-align: center;
  background-color:blanchedalmond;
  margin: 10px;
  padding: 10px;
}